# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js & OpenNext build output
.next/
**/.next/
.open-next/
**/.open-next/
out/
client/out/

# Cloudflare Wrangler & Workers
.wrangler/
**/.wrangler/

# Production/build outputs
build/
dist/

# Environment variables
.env*
!.env.example

# Misc/OS files
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
